In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
df = spark.read.parquet("../datasets/google asl/train_landmark_files/2044/*.parquet")

In [8]:
df

DataFrame[frame: smallint, row_id: string, type: string, landmark_index: smallint, x: double, y: double, z: double]

In [9]:
df.show()

+-----+----------+----+--------------+-------------------+-------------------+--------------------+
|frame|    row_id|type|landmark_index|                  x|                  y|                   z|
+-----+----------+----+--------------+-------------------+-------------------+--------------------+
|   22| 22-face-0|face|             0|0.43825069069862366|  0.449452668428421|-0.04782642051577568|
|   22| 22-face-1|face|             1|0.41452744603157043|0.40488025546073914|-0.07199390232563019|
|   22| 22-face-2|face|             2|0.42374512553215027| 0.4206811487674713|-0.04214530065655708|
|   22| 22-face-3|face|             3| 0.4023492932319641| 0.3720405101776123|-0.04390575364232063|
|   22| 22-face-4|face|             4| 0.4118565618991852|0.39301347732543945|-0.07474739104509354|
|   22| 22-face-5|face|             5| 0.4115868806838989|0.37933847308158875|-0.06694532930850983|
|   22| 22-face-6|face|             6|0.41367414593696594| 0.3478865921497345|-0.02378724701702...|
|   22| 22-face-7|face|             7|0.34034112095832825| 0.3615873456001282|0.056790970265865326|
|   22| 22-face-8|face|             8|0.41199055314064026|  0.323421448469162|-0.00949243642389...|
|   22| 22-face-9|face|             9|0.40913456678390503|0.30853506922721863|-0.00869176816195...|
|   22|22-face-10|face|            10| 0.4019249975681305|0.25245386362075806|0.018373779952526093|
|   22|22-face-11|face|            11| 0.4391152262687683| 0.4539342522621155|-0.04667719826102257|
|   22|22-face-12|face|            12| 0.4402366876602173|0.45845288038253784|-0.04270341247320175|
|   22|22-face-13|face|            13|0.44144776463508606|0.46144530177116394|-0.03718314692378044|
|   22|22-face-14|face|            14|0.44170790910720825|0.46177101135253906|-0.03929904848337...|
|   22|22-face-15|face|            15|  0.442383348941803|0.46582821011543274|-0.04252680391073227|
|   22|22-face-16|face|            16|0.44334080815315247| 0.4709368646144867|-0.04684560373425484|
|   22|22-face-17|face|            17|0.44476377964019775| 0.4770256578922272|-0.04741421341896057|
|   22|22-face-18|face|            18|0.44355374574661255| 0.4935643672943115|-0.03812909126281738|
|   22|22-face-19|face|            19|  0.418134868144989| 0.4122675061225891|-0.06613036245107651|
+-----+----------+----+--------------+-------------------+-------------------+--------------------+
only showing top 20 rows

In [1]:
import pandas as pd
from pathlib import Path
import os

In [2]:
data_path = '../datasets/google asl/train_landmark_files/'
participant_ids = os.listdir(data_path)[10]

In [3]:
data = []

In [5]:
for participant in participant_ids:
    data_dir = Path(data_path + participant)
    full_df = pd.concat(
        pd.read_parquet(parquet_file)
        for parquet_file in data_dir.glob('*.parquet')
    )
    data.append({
        "participant_id": participant,
        "max_frames": full_df.frame.max(),
        "min_frames": full_df.frame.min(),
        "landmarks": full_df.landmark_index.max()
    })
# full_df.to_csv('csv_file.csv')

In [6]:
data

[{'participant_id': '16069',
  'max_frames': 536,
  'min_frames': 0,
  'landmarks': 467},
 {'participant_id': '18796',
  'max_frames': 537,
  'min_frames': 0,
  'landmarks': 467},
 {'participant_id': '2044',
  'max_frames': 87,
  'min_frames': 0,
  'landmarks': 467},
 {'participant_id': '22343',
  'max_frames': 347,
  'min_frames': 0,
  'landmarks': 467},
 {'participant_id': '25571',
  'max_frames': 256,
  'min_frames': 0,
  'landmarks': 467},
 {'participant_id': '26734',
  'max_frames': 384,
  'min_frames': 0,
  'landmarks': 467},
 {'participant_id': '27610',
  'max_frames': 354,
  'min_frames': 0,
  'landmarks': 467},
 {'participant_id': '28656',
  'max_frames': 421,
  'min_frames': 0,
  'landmarks': 467},
 {'participant_id': '29302',
  'max_frames': 368,
  'min_frames': 0,
  'landmarks': 467},
 {'participant_id': '30680',
  'max_frames': 248,
  'min_frames': 0,
  'landmarks': 467}]

In [7]:
full_df

,frame,row_id,type,landmark_index,x,y,z
0,92,92-face-0,face,0,0.492523,0.468774,-0.057683
1,92,92-face-1,face,1,0.484869,0.442351,-0.061070
2,92,92-face-2,face,2,0.485326,0.458119,-0.044875
3,92,92-face-3,face,3,0.479605,0.425289,-0.026963
4,92,92-face-4,face,4,0.485750,0.434513,-0.059261
...,...,...,...,...,...,...,...
11941,39,39-right_hand-16,right_hand,16,0.234996,0.633677,-0.140368
11942,39,39-right_hand-17,right_hand,17,0.110940,0.547606,-0.153529
11943,39,39-right_hand-18,right_hand,18,0.189347,0.595378,-0.178484
11944,39,39-right_hand-19,right_hand,19,0.200662,0.621181,-0.160581
11945,39,39-right_hand-20,right_hand,20,0.190426,0.629422,-0.142788

In [8]:
full_df.frame.max()

248

In [9]:
full_df.frame.min()

0

In [10]:
full_df.landmark_index.max()

467

In [11]:
full_df.frame.value_counts()

23     1122381
22     1119666
21     1105005
24     1095231
20     1059936
        ...
244        543
245        543
246        543
247        543
248        543
Name: frame, Length: 249, dtype: int64

In [10]:
full_df.type.unique()

array(['face', 'left_hand', 'pose', 'right_hand'], dtype=object)